:root {
    --gray-100: #161616;
    --gray-90: #262626;
    --gray-80: #393939;
    --gray-70: #525252;
    --gray-60: #6f6f6f;
    --gray-50: #8d8d8d;
    --gray-40: #a8a8a8;
    --gray-30: #c6c6c6;
    --gray-20: #e0e0e0;
    --gray-10: #f4f4f4;
    --red-100: #360004;
    --red-90: #54020a;
    --red-80: #760916;
    --red-70: #a01c28;
    --red-60: #d0303d;
    --red-50: #fb4d59;
    --red-40: #fc858a;
    --red-30: #fdb3b6;
    --red-20: #fed7d8;
    --red-10: #fef1f1;
    --orange-100: #261101;
    --orange-90: #3d1e03;
    --orange-80: #582f06;
    --orange-70: #7c440c;
    --orange-60: #a65c14;
    --orange-50: #cc7835;
    --orange-40: #ef914b;
    --orange-30: #fdb691;
    --orange-20: #fed9c9;
    --orange-10: #fef2ed;
    --yellow-100: #1f1401;
    --yellow-90: #342303;
    --yellow-80: #4c3506;
    --yellow-70: #6a4d0c;
    --yellow-60: #8c6a14;
    --yellow-50: #b1861c;
    --yellow-40: #d0a123;
    --yellow-30: #f0c03f;
    --yellow-20: #fcdca1;
    --yellow-10: #fef3e1;
    --lime-100: #0e1901;
    --lime-90: #1b2b03;
    --lime-80: #2a3f06;
    --lime-70: #3e5b0c;
    --lime-60: #547a13;
    --lime-50: #6c9b1b;
    --lime-40: #82b823;
    --lime-30: #9cd83e;
    --lime-20: #beef84;
    --lime-10: #e5fbd1;
    --green-100: #011b03;
    --green-90: #032d08;
    --green-80: #064310;
    --green-70: #0c601a;
    --green-60: #148126;
    --green-50: #1ca333;
    --green-40: #23c23e;
    --green-30: #5fdf6d;
    --green-20: #9cf4a3;
    --green-10: #e0fbe2;
    --teal-100: #011a13;
    --teal-90: #032c21;
    --teal-80: #064132;
    --teal-70: #0d5d49;
    --teal-60: #157e63;
    --teal-50: #1e9f7e;
    --teal-40: #25bd97;
    --teal-30: #51ddb4;
    --teal-20: #93f2d2;
    --teal-10: #dbfbef;
    --blue-100: #021534;
    --blue-90: #05264e;
    --blue-80: #093a6b;
    --blue-70: #115490;
    --blue-60: #1a71bf;
    --blue-50: #2490f0;
    --blue-40: #66acfb;
    --blue-30: #9acbfc;
    --blue-20: #c8e3fe;
    --blue-10: #ebf5fe;
    --violet-100: #1f0346;
    --violet-90: #34076c;
    --violet-80: #4c0d98;
    --violet-70: #6b17d3;
    --violet-60: #8743f7;
    --violet-50: #9e74f9;
    --violet-40: #b498fb;
    --violet-30: #cdbdfc;
    --violet-20: #e4dcfd;
    --violet-10: #f5f3fe;
    --pink-100: #330119;
    --pink-90: #50032a;
    --pink-80: #710a3e;
    --pink-70: #9e1359;
    --pink-60: #cf2378;
    --pink-50: #f24f96;
    --pink-40: #fb80af;
    --pink-30: #fdb1ca;
    --pink-20: #fed6e2;
    --pink-10: #fef1f5;
}
