@import "colors.css";
@import "fonts.css";

* {
    font-family: OpenSans;
    font-weight: 500;
}

body {
    background-color: #1d222c;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: #323a4b;
    border-radius: 15px;
}

div.links {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 9%;
    gap: 10px;
    background-color: #323a4b;
    border-radius: 20px 0;
    padding-top: 30px;
    transform: translateY(-30px);
}

div.link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 5px;
    cursor: pointer;
}

div.link:hover {
    background-color: #3f495f;
}

div.link.no-hover {
    cursor: auto;
}

div.link.no-hover:hover {
    background-color: transparent;
}

div.link-img-box {
    width: 32px;
    height: 32px;
}

img.link-img {
    height: 100%;
}

div.link-text {
    color: white;
    font-size: 10px;
}

div.page-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10vh;
    margin-bottom: 10vh;
    min-height: 80vh;
    height: auto;
    border-radius: 20px;
    background-color: #323a4b;
    box-shadow: 7px 7px #282e37;
}

div.page-content-sidebar {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 10px;
    padding-top: 0;
    margin-top: 58px;
}

div.page-content-sidebar-section {
    color: white;
    text-align: center;
    font-weight: bold;
    width: 100%;
    margin-top: 5px;
    cursor: pointer;
}

div.page-content-sidebar-section:hover {
    text-decoration: underline;
}

div.page-content-sidebar-item {
    text-align: center;
    color: white;
    width: 100%;
    cursor: pointer;
}

div.page-content-sidebar-item:hover {
    text-decoration: underline;
}

div.page-content-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    padding-left: 18px;
    padding-bottom: 18px;
}

h1.page-content-title {
    color: white;
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin: 0;
}

h2.page-content-section {
    color: white;
    width: 100%;
    text-align: left;
    font-size: 25px;
    margin: 0;
    margin-top: 30px;
}

p.page-content-text {
    color: white;
    width: 100%;
    text-align: justify;
    font-size: 18px;
    margin: 0;
    margin-top: 10px;
}